################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SolutionUnbracoNoiThatMinhTuan/.vs
/SolutionUnbracoNoiThatMinhTuan/packages
/SolutionUnbracoNoiThatMinhTuan/WebSiteUnbracoNoiThatMinhTuan/App_Data
/SolutionUnbracoNoiThatMinhTuan/Umbraco.NoiThat.Core/bin/Debug
/SolutionUnbracoNoiThatMinhTuan/Umbraco.NoiThat.Core/obj/Debug
/SolutionUnbracoNoiThatMinhTuan/Umbraco.NoiThat.Core/bin/Release
/SolutionUnbracoNoiThatMinhTuan/Umbraco.NoiThat.Core/obj/Release
