
@using Umbraco.NoiThat.Core
@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var selection = Umbraco.ContentAtRoot().FirstOrDefault()
    .ChildrenOfType("projectDetail")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.UpdateDate);
}
<!-- PROJECT -->
<div class="row-project clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
                <div class="position-relative">
                    <div class="themesflat-headings style-1 clearfix">
                        <h2 class="heading ">DỰ ÁN ĐÃ THỰC HIỆN</h2>
                    </div>
                    @*<ul class="themesflat-filter style-1 filter-absolute clearfix">
                        <li class="active"><a href="#" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".green">GREEN HOUSE</a></li>
                        <li><a href="#" data-filter=".architecture">ARCHITECTURE   </a></li>
                        <li><a href="#" data-filter=".construction">CONSTRUCTION </a></li>
                        <li><a href="#" data-filter=".villa">VILLA</a></li>
                        <li><a href="#" data-filter=".building">BUILDING</a></li>
                    </ul>*@
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="40" data-mobile="35" data-smobile="35"></div>
                <div class="themesflat-project style-2 isotope-project has-margin mg15 data-effect clearfix">
                    @foreach (var item in selection)
                    {
                        if (item is ProjectDetail projectDetail)
                        {
                            <div class="project-item green villa">
                                <div class="inner">
                                    <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                        <img src="assets/img/project/project-1-370x245.jpg" alt="Image">
                                        <div class="elm-link">
                                            <a href="#" class="icon-1 icon-search"></a>
                                            <a href="#" class="icon-1"></a>
                                        </div>
                                        <div class="overlay-effect bg-color-3"></div>
                                    </div>
                                    <div class="text-wrap">
                                        <h5 class="heading"><a href="#">LAKE MEADOWS APARTMENTS</a></h5>
                                        <div class="elm-meta">
                                            <span><a href="#">Green House</a></span>
                                            <span><a href="#">Villa</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.product-item -->
                        }
                        
                    }
                </div><!-- /.themesflat-project -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- END PROJECT -->
