@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div id="site-header-wrap">
    <!-- Top Bar -->
    <div id="top-bar">
        <div id="top-bar-inner" class="container">
            <div class="top-bar-inner-wrap">
                <div class="top-bar-content">
                    <div class="inner">
                        <span class="address content">4946 Marmora Road, Central New</span>
                        <span class="phone content">+61 3 8376 6284</span>
                        <span class="time content">Mon-Sat: 8am - 6pm</span>
                    </div>
                </div><!-- /.top-bar-content -->

                <div class="top-bar-socials">
                    <div class="inner">
                        <span class="text">Follow us:</span>
                        <span class="icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </span>
                    </div>
                </div><!-- /.top-bar-socials -->
            </div>
        </div>
    </div><!-- /#top-bar -->
    <!-- Header -->
    <header id="site-header">
        <div id="site-header-inner" class="container">
            <div class="wrap-inner clearfix">
                <div id="site-logo" class="clearfix">
                    <div id="site-log-inner">
                        <a href="/" rel="home" class="main-logo">
                            <img src="/themeassets/assets/img/logo-white-small.png" alt="Autora" width="169" height="39" data-retina="/themeassets/assets/img/logo-white@2x.png" data-width="169" data-height="39">
                        </a>
                    </div>
                </div><!-- /#site-logo -->

                <div class="mobile-button">
                    <span></span>
                </div><!-- /.mobile-button -->
                <!--Main nav-->
                @Html.Partial("~/Views/Partials/MainTopNavigationPartial.cshtml")
                <!-- /#main-nav -->

                <div id="header-search">
                    <a href="#" class="header-search-icon">
                        <span class="search-icon fa fa-search">
                        </span>
                    </a>

                    <form role="search" method="get" class="header-search-form" action="#">
                        <label class="screen-reader-text">Search for:</label>
                        <input type="text" value="" name="s" class="header-search-field" placeholder="Search...">
                        <button type="submit" class="header-search-submit" title="Search"><i class="fa fa-search"></i></button>
                    </form>
                </div><!-- /#header-search -->
            </div><!-- /.wrap-inner -->
        </div><!-- /#site-header-inner -->
    </header><!-- /#site-header -->
</div>