@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.NoiThat.Core.Page>
@{
    Layout = "masterPage.cshtml";
    Page.Title = Model.PageTitle;
    Page.MetaDescription = Model.MetaDescription;
    Page.MetaKeywords = string.Join(", ", Model.MetaKeywords.ToList());
}

@* the fun starts here *@

@section FeaturedTitleBlock{
    <!-- Featured Title -->
    <div id="featured-title" class="featured-title clearfix">
        <div id="featured-title-inner" class="container clearfix">
            <div class="featured-title-inner-wrap">
                <div id="breadcrumbs">
                    <div class="breadcrumbs-inner">
                        <div class="breadcrumb-trail">
                            <a href="~/" class="trail-begin">Trang chủ</a>
                            <span class="sep">|</span>
                            <span class="trail-end">@Model.PageTitle</span>
                        </div>
                    </div>
                </div>
                <div class="featured-title-heading-wrap">
                    <h1 class="feautured-title-heading">
                        @Model.PageTitle
                    </h1>
                </div>
            </div><!-- /.featured-title-inner-wrap -->
        </div><!-- /#featured-title-inner -->
    </div>
    <!-- End Featured Title -->
}

